@(budgets: List[BudgetBar])

@import helper._

@main("Budgyet") {
	
	<!-- Navbar -->
	<nav class="navbar navbar-default navbarOverride" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")" height="16"></a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="@routes.Budgets.budgets()">Budgets</a></li>
				<li><a href="@routes.Incomes.incomes()">Income</a></li>
				<li><a href="@routes.Expenses.expenses()">Expenses</a></li>
			</ul>
			  
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">@session.get("connected_username")</a></li>
				<li><a href="@routes.Accounts.logout()">Logout</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	
	@for(budget <- budgets) {
		<h4><strong>@budget.getTitle()</strong></h4>
		@budget.getDateStart() to @budget.getDateEnd() </br>
		<div class="numberFormat">@budget.getProgress()</div>/<div class="numberFormat">@budget.getAmount()</div>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuetransitiongoal="@budget.getProgress()" aria-valuemin="0" aria-valuemax="@budget.getAmount()"></div>
		</div>
	}

	@form(action = routes.Expenses.addExpense(), 'id -> "expenseForm", 'class -> "form-horizontal", 'onSubmit -> "return checkExpenseSubmit(this)", 'role -> "form") {
		
		<div class="form-group">
			<div class="col-lg-4">
		  		<input type="text" name="expense_amount" value="1.00">
	  		</div>
		</div>

		<div class="form-group">
		  	<div class="col-lg-4">
		      	<input type="text" id="expense_tags" class="form-control" name="tags" placeholder="New Tags">
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
		  		<button type="button" class="btn btn-default btn-sm" onclick="addExpenseTag('food')">food</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addExpenseTag('transport')">transport</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addExpenseTag('present')">present</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addExpenseTag('stationary')">stationary</button>				
			</div>
		</div>		

		<div class="form-group">
		  	<div class="col-lg-4">
		  		<div class="input-group date" id="expense_datepicker" data-date="2013-08-17" data-date-format="yyyy-mm-dd">
		      		<span class="input-group-addon add-on">
		        		<i class="glyphicon glyphicon-calendar"></i>
		      		</span>
		      		<input type="text" name="expense_date" class="form-control" size="16" value="2013-08-17" onclick="$('#expense_datepicker').datepicker('show')" readonly>
	      		</div>
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
		  	<div class="col-lg-4">
		  		<textarea rows="2" name="expense_description" class="form-control" maxlength="256" placeholder="Description"></textarea>
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
			  	<select name="expense_repeat" class="selectpicker show-tick show-menu-arrow">
					<option value="0">Don't Repeat</option>
					<optgroup label="Repeat">
						<option value="1">Daily</option>
						<option value="2">Weekly</option>
						<option value="3">Fortnightly</option>
						<option value="4">Monthly</option>
					</optgroup>
				</select>
			</div>
		</div>
	  	
		<div class="form-group">
			<input type="submit" class="btn btn-primary" name="submit" value="Log Expense">
		</div>
    }
	
	@form(action = routes.Incomes.addIncome(), 'id -> "incomeForm", 'class -> "form-horizontal", 'onSubmit -> "return checkIncomeSubmit(this)", 'role -> "form") {
		
		<div class="form-group">
			<div class="col-lg-4">
		  		<input type="text" name="income_amount" value="1.00">
	  		</div>
		</div>

		<div class="form-group">
		  	<div class="col-lg-4">
		      	<input type="text" id="income_tags" class="form-control" name="tags" placeholder="New Tags">
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
		  		<button type="button" class="btn btn-default btn-sm" onclick="addIncomeTag('ebay')">ebay</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addIncomeTag('steam')">steam</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addIncomeTag('freelance')">freelance</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addIncomeTag('ibm')">ibm</button>				
			</div>
		</div>		

		<div class="form-group">
		  	<div class="col-lg-4">
		  		<div class="input-group date" id="income_datepicker" data-date="2013-08-17" data-date-format="yyyy-mm-dd">
		      		<span class="input-group-addon add-on">
		        		<i class="glyphicon glyphicon-calendar"></i>
		      		</span>
		      		<input type="text" name="income_date" class="form-control" size="16" value="2013-08-17" onclick="$('#income_datepicker').datepicker('show')" readonly>
	      		</div>
		  	</div>
	  	</div>

	  	<div class="form-group">
		  	<div class="col-lg-4">
		  		<textarea rows="2" name="income_description" class="form-control" maxlength="256" placeholder="Description"></textarea>
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
			  	<select name="income_repeat" class="selectpicker show-tick show-menu-arrow">
					<option value="0">Don't Repeat</option>
					<optgroup label="Repeat">
						<option value="1">Daily</option>
						<option value="2">Weekly</option>
						<option value="3">Fortnightly</option>
						<option value="4">Monthly</option>
					</optgroup>
				</select>
			</div>
		</div>
	  	
		<div class="form-group">
			<input type="submit" class="btn btn-primary" name="submit" value="Log Income">
		</div>
    }
    
    @form(action = routes.Budgets.addBudget(), 'id -> "incomeForm", 'class -> "form-horizontal", 'onSubmit -> "return checkBudgetSubmit(this)", 'role -> "form") {
		
		<div class="form-group">
			<div class="col-lg-4">
		  		<input type="text" id="budget_title" class="form-control" name="budget_title" placeholder="Title" maxlength="100">
	  		</div>
		</div>
		
		<div class="form-group">
			<div class="col-lg-4">
		  		<input type="text" name="budget_amount" value="1.00">
	  		</div>
		</div>

		<div class="form-group">
		  	<div class="col-lg-4">
		      	<input type="text" id="budget_tags" class="form-control" name="tags" placeholder="New Tags">
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
		  		<button type="button" class="btn btn-default btn-sm" onclick="addBudgetTag('food')">food</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addBudgetTag('transport')">transport</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addBudgetTag('present')">present</button>
 				<button type="button" class="btn btn-default btn-sm" onclick="addBudgetTag('stationary')">stationary</button>				
			</div>
		</div>		

		<div class="form-group">
		  	<div class="col-lg-4">
		  		<div class="input-group date" id="budget_start_datepicker" data-date="2013-8-16" data-date-format="yyyy-mm-dd">
		      		<span class="input-group-addon add-on">
		        		<i class="glyphicon glyphicon-calendar"></i>
		      		</span>
		      		<input type="text" name="budget_start_date" class="form-control" size="16" value="2013-8-16" onclick="$('#budget_start_datepicker').datepicker('show')" readonly>
	      		</div>
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
		  	<div class="col-lg-4">
		  		<div class="input-group date" id="budget_end_datepicker" data-date="2013-8-16" data-date-format="yyyy-mm-dd">
		      		<span class="input-group-addon add-on">
		        		<i class="glyphicon glyphicon-calendar"></i>
		      		</span>
		      		<input type="text" name="budget_end_date" class="form-control" size="16" value="2013-8-16" onclick="$('#budget_end_datepicker').datepicker('show')" readonly>
	      		</div>
		  	</div>
	  	</div>

	  	<div class="form-group">
		  	<div class="col-lg-4">
		  		<textarea rows="2" name="budget_description" class="form-control" maxlength="256" placeholder="Description"></textarea>
		  	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="col-lg-4">
			  	<select name="budget_repeat" class="selectpicker show-tick show-menu-arrow">
					<option value="0">Don't Repeat</option>
					<optgroup label="Repeat">
						<option value="1">Daily</option>
						<option value="2">Weekly</option>
						<option value="3">Fortnightly</option>
						<option value="4">Monthly</option>
					</optgroup>
				</select>
			</div>
		</div>
	  	
		<div class="form-group">
			<input type="submit" class="btn btn-primary" name="submit" value="Create Budget">
		</div>
    }
    
    <script>
		$(document).ready(function() {

			$('.progress .progress-bar').progressbar();
			
			$("input[name='income_amount']").TouchSpin({
				min: 0.01,
				max: 99999999999999.99,
		        step: 0.1,
		        decimals: 2,
		        boostat: 5,
		        maxboostedstep: 10,
		        prefix: '$'
			});

			$("input[name='expense_amount']").TouchSpin({
				min: 0.01,
				max: 99999999999999.99,
		        step: 0.1,
		        decimals: 2,
		        boostat: 5,
		        maxboostedstep: 10,
		        prefix: '$'
			});

			$("input[name='budget_amount']").TouchSpin({
				min: 0.01,
				max: 99999999999999.99,
		        step: 0.1,
		        decimals: 2,
		        boostat: 5,
		        maxboostedstep: 10,
		        prefix: '$'
			});
			
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
			var tomorrow = new Date(now);
			tomorrow.setDate(tomorrow.getDate() + 1);
			
			$('#income_datepicker').datepicker('setValue', now);
			$('#expense_datepicker').datepicker('setValue', now);
			 
			var budget_start = $('#budget_start_datepicker').datepicker('setValue', now
			).on('changeDate', function(ev) {
				if (ev.date.valueOf() >= budget_end.date.valueOf()) {
					var newDate = new Date(ev.date);
					newDate.setDate(newDate.getDate() + 1);
					budget_end.setValue(newDate);
				}
				budget_start.hide();
				$("input[name='budget_end_date']").click();
			}).data('datepicker');

			var budget_end = $('#budget_end_datepicker').datepicker({
				onRender: function(date) {
				  	return date.valueOf() < budget_start.date.valueOf() ? 'disabled' : '';
				}
			}).on('onRender', function(date) {
				return date.valueOf() <= budget_start.date.valueOf() ? 'disabled' : '';
			}).on('changeDate', function(ev) {
				budget_end.hide();
			}).on('show', function(ev) {
				budget_end.update();
			}).data('datepicker');

			budget_end.setValue(tomorrow);
			

			$("#income_tags").tagsManager({
				hiddenTagListName: 'income_tag_list'
			});
			$("#expense_tags").tagsManager({
				hiddenTagListName: 'expense_tag_list'
			});
			$("#budget_tags").tagsManager({
				hiddenTagListName: 'budget_tag_list'
			});

			$('.selectpicker').selectpicker();

			$('.numberFormat').each(function() {
				$(this).replaceWith(formatNumber($(this).text(), '$'));
			})
			
		});


		function addIncomeTag(tag) {
			$("#income_tags").tagsManager('pushTag', tag);
		}
		function addExpenseTag(tag) {
			$("#expense_tags").tagsManager('pushTag', tag);
		}
		function addBudgetTag(tag) {
			$("#budget_tags").tagsManager('pushTag', tag);
		}

		function checkIncomeSubmit(f) {
			if ($("#income_tags").tagsManager('tags').tags.length == 0) {
				alert("Please select at least one tag");
				return false;
			} else {
				f.submit();
				return false;
			}
		}
		function checkExpenseSubmit(f) {
			if ($("#expense_tags").tagsManager('tags').tags.length == 0) {
				alert("Please select at least one tag");
				return false;
			} else {
				f.submit();
				return false;
			}
		}
		function checkBudgetSubmit(f) {
			if ($("#budget_title").val().trim().length == 0) {
				alert("Please enter a title");
				return false;
			}
			if ($("#budget_tags").tagsManager('tags').tags.length == 0) {
				alert("Please select at least one tag");
				return false;
			} else {
				f.submit();
				return false;
			}
		}

		function formatNumber(num, prefix){
			prefix = prefix || '';
			num += '';
			var splitStr = num.split('.');
			var splitLeft = splitStr[0];
			var splitRight = splitStr.length > 1 ? '.' + splitStr[1] : '';
			var regx = /(\d+)(\d{3})/;
			while (regx.test(splitLeft)) {
				splitLeft = splitLeft.replace(regx, '$1' + ',' + '$2');
			}
			return prefix + splitLeft + splitRight;
		}
			 
		
	</script>
}