body {
    margin: 40px;
    background-color:#d0edce;
    color:#444;
    font-family:"Lucida Sans Unicode";
}

a:link,
a:visited,
a:active {
    color:#444;
    text-decoration:none;
}
a:hover {
    color:#777;   
}

.page-header {
  border-bottom: none;
}

.pieGraph {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}

.modal-body {
	margin-left: 20px;
	margin-right: 20px;
}

.panel-footer {
    height:68px;
}

/* index.html, signup.html ---------------- */

.loginForm {
    margin-left:auto;
    margin-right:auto;
    width:600px;
    text-align:center;
    padding:20px;
}

.loginSignupToggle {
    margin-bottom:20px;
    color:#777;
    text-transform:uppercase;
    letter-spacing:3px;
}
.loginSignupToggle > strong {
    color:#444;
}
.loginSignupToggle > a {
    color:#777;
}
.loginSignupToggle > a:hover {
    color:#999;
}

.formInputField {
    margin-left:auto;
    margin-right:auto;  
    width:400px;
    -moz-border-radius:10px;
    border-radius:10px; /* mozilla fix */
    -webkit-border-radius:10px;
    border:1px solid #799d82;
    text-transform:lowercase;
}

.formButton {
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
    width:300px;
    height:40px;
    background-color:#6e9a7a;
    -moz-border-radius:10px;
    border-radius:10px; /* mozilla fix */
    -webkit-border-radius:10px;
    border:5px solid #6e9a7a;
    padding:5px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:600;
    font-size:15px;
    color:#333;
}
.formButton:hover {
    background-color: #799d82; 
    border:5px solid #799d82;
}
.formButton > a {
    color:#333;
    text-decoration:none;
}

/* navbar ---------------- */

.navbarOverride {
    background-color:#bbe0b8;
    border-color:#bbe0b8;
}

.navbarList {
    text-align:center;
    text-transform:uppercase;
    letter-spacing:3px;
    font-weight:600;
    font-size:15px;
    color:#333;
}

/* home.html ---------------- */

.centredContent {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.alignLeft {
    float:left;   
}

.alignRight {
    float:right;
}

.button1 {
    background-color:#96bfa1;
    -moz-border-radius:10px;
    border-radius:10px; /* mozilla fix */
    -webkit-border-radius:10px;
    border:5px solid #96bfa1;
    padding:10px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:600;
    font-size:15px;
    color:#333;
}
.button1:hover {
    background-color: #a5c7ae; 
    border:5px solid #a5c7ae;
    color:#333;
}
.button1 > a {
    color:#333;
    text-decoration:none;
}

.button2 {
    background-color:#b6dbc0;
    -moz-border-radius:10px;
    border-radius:10px; /* mozilla fix */
    -webkit-border-radius:10px;
    border:5px solid #b6dbc0;
    padding:8px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:600;
    font-size:15px;
    color:#333;
}
.button2:hover {
    background-color: #c2ddc9; 
    border:5px solid #c2ddc9;
    color:#333;
}
.button2 > a {
    color:#333;
    text-decoration:none;
}

/* budgets.html ---------------- */

.paddingTopBottom {
    margin-top:20px;
    margin-bottom:20px;
}

.roundedBorder {
    -moz-border-radius:10px;
    border-radius:10px; /* mozilla fix */
    -webkit-border-radius:10px;
    border:1px solid #799d82;
    /*text-transform:lowercase;*/
}

