@(incomes: List[Income])

@import helper._
 
@main("Incomes | Budgyet") {
        
   	<!-- Navbar -->
	<nav class="navbar navbar-default navbarOverride" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")" height="16"></a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="@routes.Budgets.budgets()">Budgets</a></li>
				<li class="active"><a href="@routes.Incomes.incomes()">Income</a></li>
				<li><a href="@routes.Expenses.expenses()">Expenses</a></li>
			</ul>
			  
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">@session.get("connected_username")</a></li>
				<li><a href="@routes.Accounts.logout()">Logout</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
        
		<!-- Centred content -->
	<div class="centredContent">
		<div class="page-header">
			<p class="alignLeft"><h1>Income Overview
				<p class="alignRight">
				<a data-toggle="modal" href="#createBudgetModal" class="btn btn-primary btn-lg button1"><span class="glyphicon glyphicon-plus"></span></a>
			</p>
			</h1></p>
		</div>
		          
		<div class="row paddingtopBottom">
		<!-- Search bar -->
		<form class="form-inline alignLeft" role="search">
			<div class="form-group">
				<input type="text" class="form-control roundedBorder" placeholder="Search by keyword">
			</div>
			<button type="submit" class="btn btn-default roundedBorder"><span class="glyphicon glyphicon-search"></span></button>
		</form>
		
		<!-- Page navigation -->
		<ul class="pagination alignRight roundedBorder">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
            
	<!-- Filters -->
	<form class="form-inline" role="form">
	    <div class="form-group">Filter by: </div>
	    
	    <div class="form-group">
	        <select class="form-control roundedBorder">
				<option value="" selected disabled>Period</option>
				<option>Current week</option>
				<option>Current month</option>
				<option>Last 31 days</option>
				<option>Last 60 days</option>
				<option>Last 90 Days</option>
				<option>All</option>
	        </select>
	    </div>
	    
	    <div class="form-group">
	        <select class="form-control roundedBorder">
				<option value="" selected disabled>Budget</option>
				<option>Budget 1</option>
				<option>Budget 2</option>
				<option>Budget 3</option>
				<option>All</option>
	        </select>
	    </div>
	    
	    <div class="form-group">
	        <select class="form-control roundedBorder">
				<option value="" selected disabled>Category</option>
				<option>Salary</option>
				<option>Awards</option>
				<option>Selling</option>
				<option>All</option>
	        </select>
	    </div>
	</form>
        
	<br>
        
	<div class="panel panel-success">
	    <div class="panel-heading">
	        <h3 class="panel-title">Income Items</h3>
	    </div>
	    <table class="table">
	        <tr>
	            <td><b>Date</b></td>
	            <td><b>Item</b></td>
	            <td><b>Category</b></td>
	            <td><b>Amount</b></td>
	        </tr>
	        <tr>
	            <td>dd/mm/yy</td>
	            <td>Item</td>
	            <td>Category</td>
	            <td>$xx.xx</td>
	        </tr>
	        <tr>
	            <td>dd/mm/yy</td>
	            <td>Item</td>
	            <td>Category</td>
	            <td>$xx.xx</td>
	        </tr>
	    </table>
	</div>
        
	<br>
	
	<!-- Graph -->
    <div class="pieGraph" title="Income Categories for Budget 1" tags="Job at google,Tax return,Investment home,Paid for being good looking,Coins I found on the ground,Others" tagValues="45.0,26.8,12.8,8.5,6.2,0.7"></div>
    <div class="pieGraph" title="Income Categories for Budget 2" tags="Food,Present,Coolbeans,Flying Helicopter" tagValues="10.0,6.0,5.0,2.0"></div>

    <script>
            
        $(document).ready(function() {
            $('.pieGraph').each(function() {
                var options = {
                    chart: {
                        plotBackgroundColor: '#e9f8e8',
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: $(this).attr('title')
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Proportion',
                        data: []
                    }]
                };
                
                var tagArray = $(this).attr('tags').split(',');
                var tagValues = $(this).attr('tagValues').split(',');
                
                for(var i=0; i<tagArray.length; i++){
                   options.series[0].data.push({name: tagArray[i], y: parseFloat(tagValues[i])});
                }
                
                $(this).highcharts(options);

            });
        });
            
    </script>
        
}





