@()

@import helper._

@main("Budgyet") {
	
	<center><img src="@routes.Assets.at("images/header.jpg")"></center>
	
	@form(action = routes.Accounts.login(), 'id -> "loginForm", 'class -> "form-horizontal", 'role -> "form") {
		<div class="form-group">
			<input type="text" class="form-control formInputField" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control formInputField" name="password" placeholder="Password">
		</div>
		@flash.get("fail")
		  
		<!-- Remember me checkbox -->
		<div class="form-group">
			<div class="col-lg-offset-8 col-lg-10">
				<div class="checkbox">
					<label>
						<input type="checkbox"> Remember Me
					</label>
				</div>
			</div>
		</div>
	
		<div class="form-group">
		    <center><button class="formButton" type="submit" class="btn btn-default">Log In</button></center>
		</div>
	}
	
	<!-- Sign up button -->
	<center><a href="@routes.Accounts.register()"><button id="signUpButton" type="submit" class="btn btn-default">Sign Up</button></a></center>
	
	<div class="form-group">
		@form(action = routes.Expenses.addExpense()) {
			<input type = "text" name =  "label">
			<input type = "number" name =  "value" value = "0.00">
			<input type = "date " name =  "date">
			</br>
			<input type= "submit" name="submit" value="Log Expense">
	    }
	</div>
	
}
